{% extends 'base.html' %}
{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ STATIC_URL }}img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 style="font-family: 'Lora', 'Times New Roman', serif">О нас</h1>
                        <hr class="small">
                        <span class="subheading" style="font-family: 'Lora', 'Times New Roman', serif">Лена, да придумай уже что-то в эту строку</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
        <!-- article Content -->
        <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>Наш приоритет – индивидуальный подход, который основывается на понимании истинных целей и потребностей каждого клиента и бизнеса. Мы работаем в тесном взаимодействии с клиентами и нацелены на долгосрочное сотрудничество.
В своей работе руководствуемся следующей ценностной формулой: работать максимально результативно для клиента, эффективно для фирмы, ответственно для команды и общественности. Наша компания старается строить стабильные доверительные отношения, внимательно и своевременно реагируя на запросы клиента.</p>
                </div>
            </div>
        </div>
    </article>

    <hr>

{% endblock %}