{% extends 'base.html' %}

{% block header %}
        <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ STATIC_URL }}img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        <h2 class="subheading">{{ post.subtitle }}</h2>
                        <span class="meta">Добавлено: <a href="{% url 'contact' %}">Елена Мельник</a> {{ post.datetime }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>{{ post.content }}</p>
                  <!--  <p>
                  а-ля дискас
                    </p>-->
                </div>
            </div>
        </div>
    </article>
    <hr>
    <p>
    {% load disqus_tags %}
    {% disqus_dev %}
    {% disqus_show_comments %}
    </p>
{% endblock %}