{% extends 'base.html' %}
<!--coding: utf-8-->
{% load pagination_tags %}
{% autopaginate object_list 1 %}
{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ STATIC_URL }}img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 style="font-family: 'Lora', 'Times New Roman', serif">Блог Елены Мельниковой</h1>
                        <hr class="small">
                        <span class="subheading" style="font-family: 'Lora', 'Times New Roman', serif">Юридические услуги</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
    {% autopaginate object_list 5 %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                   {% for post in object_list %}
                    <h2 class="post-title" style="font-family : 'Georgia', Times New Roman, Times, serif;"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                    <h4 class="post-subtitle" style="font-family : 'Georgia', Times New Roman, Times, serif;">{{ post.subtitle }}</h4>
                    <p class="post-meta" style="font-size: 16px;">Добавлено: <a href="{%  url 'contact' %}">Елена Мельникова</a> {{ post.datetime }}</p>
                    {% empty %}
                    <p style="font-family : 'Georgia', Times New Roman, Times, serif;">Нет постов</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Pager
    <ul class="pager">
       <li class="next">
       <a href="#">Предыдущие публикации &rarr;</a>
       </li>
    </ul>-->
{% paginate %}
{% endblock %}