{% extends 'base.html' %}
{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ STATIC_URL }}img/services-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 style="font-family: 'Lora', 'Times New Roman', serif">Услуги</h1>
                        <hr class="small">
                        <span class="subheading" style="font-family: 'Lora', 'Times New Roman', serif">Представительство в судах | Защита интересов</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
<!-- article Content -->
    <article>
        <div class="container" style="font-family : 'Georgia', Times New Roman, Times, serif; font-size: 18px; text-align: justify; text-indent: 1.5em;">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>Наша компания предоставляет услуги по защите прав и интересов своих клиентов в хозяйственных судах и судах общей юрисдикции по вопросам имущественного и неимущественного характера, исполнение судебных решений, досудебное урегулирование споров, составление исков, подготовка документов в суд, анализ документов для обращения в суд и т. д.</p>
<p style="font-weight: bold;">Наши услуги в сфере судебного представительства</p>
   <ul type="disk">
     <li>Консультации по судебным вопросам;</li>
     <li>Консультации на предмет целесообразности и перспективности ведения судебного спора;</li>
     <li>Досудебное урегулирование споров;</li>
     <li>Подготовка и подача всех процессуальных документов;</li>
     <li>Юридический анализ ранее поданных процессуальных документов;</li>
     <li>Представительство интересов в суде;</li>
     <li>Представительство интересов в органах исполнительной службы и полное сопровождение исполнительного производства.</li>
   </ul>

<p style="font-weight: bold">Стоимость представительства интересов Клиента в судах:</p>
<ul type="square">
<li>стоимость представительства интересов Клиента в хозяйственных и административных судах за 1 судо/день: 1500 грн. - стоимость представительства интересов Клиента в апелляционных хозяйственных и апелляционных административных судах за 1 судо/день: 2000 грн. - стоимость представительства интересов Клиента в Высшем хозяйственном суде Украины и Высшем административном суде Украины за 1 судо/день: 3000 грн.</li>
<li>стоимость представительства интересов Клиента, по гражданским спорам, в судах общей юрисдикции первой инстанции за 1 судо/день: 800 грн.</li>
<li>стоимость представительства интересов Клиента, по гражданским спорам, в апелляционных судах общей юрисдикции за 1 судо–день: 1500 грн.</li>
<li>стоимость представительства интересов Клиента, по гражданским спорам, в Высшем специализированном суде Украины по рассмотрению гражданских и уголовных дел за 1 судо/день: 3000 грн.</li>
<li>стоимость представительства интересов Клиента, по уголовным делам, в судах общей юрисдикции первой инстанции за 1 судо/день: от 1500 грн. – 4000 грн.</li>
<li>стоимость представительства интересов Клиента, по уголовным делам, в апелляционных судах общей юрисдикции за 1 судо/день: от 2000 грн. – 6000 грн.</li>
<li>стоимость представительства интересов Клиента, по уголовным делам, в Высшем специализированном суде Украины по рассмотрению гражданских и уголовных дел за 1 судо/день: от 5000 грн. – 20000 грн.</li>
<li>стоимость представительства интересов Клиента, по всем видам споров, в Верховном Суде Украины за 1 судо/день: 5000 грн.</li>
</ul>
                </div>
            </div>
        </div>
    </article>

    <hr>
{% endblock content %}