{% extends 'base.html' %}
{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ STATIC_URL }}img/services-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 style="font-family: 'Lora', 'Times New Roman', serif">Услуги</h1>
                        <hr class="small">
                        <span class="subheading" style="font-family: 'Lora', 'Times New Roman', serif">Комплексное юридическое обслуживание</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
            <!-- article Content -->
        <article>
        <div class="container" style="font-family : 'Georgia', Times New Roman, Times, serif; font-size: 18px; text-align: justify; text-indent: 1.5em;">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>Комплексное юридическое обслуживание  коммерческих компаний, предприятий и частного бизнеса. Гарантируем правовую защиту на всех этап развития Вашего бизнеса.
Обеспечиваем организационно-правовой контроль деятельности предприятия, что представляет собой комплекс правовых методов, средств и юридических инструментов, регулирующих и организующих разработку, внедрение и функционирование бизнес-схем.
Наша команда  комплексно подходит  к вопросу: открытия предприятия или филиала.
На подготовительном этапе – это консалтинг: поиск актуальных и оптимальных путей реализации интересов клиента. Второй этап – подготовка документов, оформление имущества и государственная регистрация фирмы. Последующий этап предусматривает представительство интересов юридического лица при взаимодействии с контрагентами (поставщиками, арендодатели и т.д.), подготовку договоров и первичной документации.
Нашим Клиентам мы можем предложить, как один из базовых пакетов юридического обслуживания, так и индивидуально сформированный пакет услуг. Каждый из пакетов («Эконом», «Базовый», «Элит») сформирован из наиболее важных и актуальных услуг для частного бизнеса, и изначально включает индивидуальные консультации с юристом. Необходимые правовые инструменты и услуги юриста могут быть дополнительно включены в любой из пакетов – учитывая Ваши потребности и возможности.

<p style="font-weight: bold;">Абонентское юридическое обслуживание «Эконом»:</p>
<ul>
	<li>устные консультации по вопросам гражданского, хозяйственного, административного, трудового, налогового права — до 10 обращений в месяц, длительность одной устной консультации не может превышать 1 часа.</li>
	<li>письменные заключения, подготовка проектов стандартных договоров, внутренних документов, заявлений, кроме претензий, ответов на претензии, исковых заявлений — до 5 документов в месяц.</li>
Работа проводится путем связи по телефону, e-mail или в нашем офисе.
Абонентское юридическое обслуживание «Базовый»:
	<li>устные консультации по вопросам гражданского, хозяйственного, административного, трудового, налогового права — до 20 обращений в месяц, длительность одной устной консультации не может превышать 1 часа;</li>
	<li>письменные заключения, подготовка проектов договоров, внутренних документов, заявлений, кроме претензий, ответов на претензии, исковых заявлений — до 15 документов в месяц;</li>
	<li>участие в переговорах со стороны Клиента — не более 3 раз в месяц, длительность одного участия в переговорах не может превышать 2 часов. О времени и месте проведения переговоров необходимо сообщить не менее чем за 24 часа до их проведения;</li>
	<li>составление претензий, ответов на претензии — не более 5 документов в месяц;</li>
	<li>представление интересов Клиента в судебных спорах — не более 2 процессов одновременно, при цене судебного спора более 10 000 грн. Клиент дополнительно уплачивает % от суммы иска при решении спора в его пользу. Размер % зависит от цены и сложности спора (от 2,5% до 10%).</li>
Работа проводится путем связи по телефону, факсу, e-mail, в нашем офисе, месте проведения переговоров или соответствующем госоргане.
</ul>
    <p style="font-weight: bold;">Абонентское юридическое обслуживание «Элит»:</p>
Юридический аудит — юридическое сопровождение субъектов хозяйствования, которое предполагает вариативность в определении стоимости за предоставление юридических услуг, а также возможность корректировки перечня предоставляемых услуг в зависимости от характера деятельности Клиента, видов юридической помощи и их объемов.
 <p style="font-weight: bold;">Юридический аудит включает:</p>
<ul>
	<li>изучение архива договоров предприятий;</li>
	<li>изучение учредительных, разрешительных и иных документов, сопровождающих хозяйственную деятельность предприятия (лицензии, сертификаты, свидетельства, и т. д.);</li>
	<li>оформление заключения о состоянии договорной базы, кадровых документов, иного делопроизводства предприятия с указанием неточностей, нарушений, пробелов, выработка рекомендаций по устранению последних, усовершенствованию системы документооборота, приведению ее в соответствие с законодательством;</li>
	<li>разработка корпоративных и иных документов на предприятии;</li>
	<li>письменные заключения, подготовка проектов договоров, внутренних документов, заявлений, претензий, ответов на претензии, исковых заявлений — до 30 документов в месяц;</li>
	<li>участие в переговорах со стороны Клиента — не более 7 раз в месяц, длительность одного участия в переговорах не может превышать 2 часов. О времени и месте проведения переговоров необходимо сообщить не менее чем за 24 часа до их проведения;</li>
	<li>представление интересов Клиента в судебных спорах — не более 3 процессов одновременно, при цене судебного спора более 15 000 грн Клиент дополнительно уплачивает % от суммы иска при решении спора в его пользу. Размер % зависит от цены и сложности спора (от 2,5% до 10%).</li>
</ul>
Работа проводится путем связи по телефону, факсу, e-mail, в нашем фисе, месте проведения переговоров или соответствующем госоргане, возможен выезд в офис Клиента для изучения внутренних документов предприятия Клиента.
                </div>
            </div>
        </div>
        </article>

    <hr>

{% endblock content %}